<ion-view title="home" hide-nav-bar="true" id="slide-view">
    <!--<ion-content>-->
        <ion-slide-box auto-play="false" does-continue="false">
            <ion-slide>
                <div class="slidebox"><img ng-src="images/wangzi5.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="slidebox"><img ng-src="images/jessica13.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="slidebox"><img ng-src="images/dana3.jpg"><button class="button button-light button-outline" ui-sref="login" style="position:absolute;width:20%;height:5%;left:0;right:0;top:70%;bottom:0;margin:auto;">进入</button></div>
            </ion-slide>
        </ion-slide-box>
    <!--</ion-content>-->
</ion-view>