@charset "utf-8";
/* CSS Document */

body,header,section,div,ul,li,a,nav,footer,p,h1,h2,h3,h4,h5,h6,input,i,dl,dt,dd{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;color:#000;}
input,img{border:0;}
.clear{clear:both;}
body{font-family:arial,"微软雅黑";font-size:12px;color:#666;}

.inner{margin:0 auto;width:1210px;}
