<ion-view class="dark-bg">
    <ion-nav-title>成都焊金金毛俱乐部</ion-nav-title>
    <ion-content>
        <img style="width:100%" ng-src="images/wangzi10.jpg">
        <ion-list>
            <ion-item>呼名：王子</ion-item>
            <ion-item class="item-image dark-bg">
                <h3 class="white" style="line-height:5em">2015年NGKC金毛排行一</h3>
                <img style="width:50%" ng-src="images/cj.jpg">
                <div class="row white">
                    <div class="col"><img ng-src="images/wangzi3.jpg"></div>
                    <div class="col"><img ng-src="images/wangzi5.jpg"></div>
                    <div class="col"><img ng-src="images/wangzi13.jpg"></div>
                </div>
                <h3 class="white" style="line-height:5em">　</h3>
            </ion-item>
            <ion-item>2015年荣誉：7个BOB，6个BIG1，一个BIG3，一个BOS，两个BIS1，一个BIS2，三个BIS3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>