@charset "utf-8";
/* CSS Document */

@media screen and (max-width:1134px){
	html,body{width:100%;}
	.inner{width:100%;}
	.maintop{width:100%;}
	.mainbot{width:90%;padding:0 5%;}

	}
	
@media screen and (max-width:980px){
	nav{display:none;}
	.mobnav{display:block;}

	}

@media screen and (max-width:768px){
	.maintop article{float:none;width:100%;}
	.maintop article p a{width:100%;}
	.maintop div{float:none;width:100%;}
	.mainbot li{float:none;width:100%;}
	.mainbot li a{width:100%;}
	}
