<ion-view class="dark-bg">
    <ion-nav-title>成都焊金金毛俱乐部</ion-nav-title>
    <ion-content>
        <ion-scroll direction="y" paging="true" ng-style="{width:getWidth(),height:getHeight()}">
            <div ng-style="{height:getTotalHeight()}">
                <div class="scroll-page page1" ng-style="{width:getWidth(),height:getHeight()}">
                    <div class="bar bar-dark">
                        <h1 class="title">JESSICA</h1>
                    </div>
                    <div class="has-header">
                        <ion-item class="item-image">
                            <img ng-src="images/jessica14.jpg">
                        </ion-item>
                        <div class="row white">
                            <div class="col"><h2 class="white">呼名：杰西卡</h2></div>
                            <div class="col">
                                <p>Jessica是本犬舍繁殖和拥有的一只母犬，它10月龄即登陆NGKC冠军排行榜，2012年度，由于地域原因，它全年仅参赛4场，在成都和重庆的首次比赛中，就以1个正牌BIS，2个RBIS，4个BOB牢牢锁定了年度金毛母犬排行一的宝座，并且有了向年度金毛排行一问鼎的资本，从5月龄出征到现在，它已经囊括了各个年龄段的BIS，这是焊金的荣誉，也是全部金毛爱好者的骄傲。</p>
                            </div>
                        </div>
                    </div>
                    <span class="icon ion-arrow-up-c arror" ng-style="{left:getArrorLeft(),top:getArrorTop()}"></span>
                </div>

                <!--page 2-->
                <div class="scroll-page page2" ng-style="{width:getWidth(),height:getHeight()}">
                    <div class="bar bar-dark">
                        <h1 class="title">DANA</h1>
                    </div>

                    <div class="has-header">
                        <div class="has-header">
                            <ion-item class="item-image">
                                <img ng-src="images/b3.jpg">
                            </ion-item>
                            <div class="row white">
                                <div class="col"><h2 class="white">呼名：黛娜</h2></div>
                                <div class="col"></div>
                            </div>
                            <div class="row white">
                                <div class="col"></div>
                                <div class="col">
                                    <p>注册名：DANA，焊金犬舍超级种母jessica和happyhour的优秀女儿，十六个月完成冠军登录，2015NGKC金毛母犬排行一，继jessica之后的第二任接班种母！</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--page 3-->
                <div class="scroll-page page2" ng-style="{width:getWidth(),height:getHeight()}">
                    <div class="bar bar-dark">
                        <h1 class="title">miss you</h1>
                    </div>

                    <div class="has-header">
                        <div class="has-header">
                            <ion-item class="item-image">
                                <img ng-src="images/a6.jpg">
                            </ion-item>
                            <div class="row white">
                                <div class="col">
                                    <p>米修，犬舍当家种母Jessica搭配happyhour的女儿。</p>
                                </div>
                                <div class="col"></div>
                            </div>
                            <div class="row white">
                                <div class="col"></div>
                                <h2 class="white">米修</h2></div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>