<ion-view>
    <ion-nav-title>成都焊金金毛俱乐部</ion-nav-title>
    <ion-content>
        <ion-list>
            <ion-item class="item-image">
                <img ng-src="{{startitems[0].img}}">
            </ion-item>
            <ion-item class="item-text-wrap"><p>焊金犬舍繁殖的得意实力战将金毛母犬Jassica已经用自己出色的战绩征服了一大批粉丝，她不光证明了自己是一条优异的赛犬，现在更验证了自己还是一条异常优异的种犬。Jassica的孩子王子&黛娜，2015NGKC武汉冠军展两天四场的赛事中，在指导手张珑舰先生的牵引下在强大的金毛犬组中分别胜出摘得BOB和BIG并在最后的决赛中王子赢得全场总冠军BIS首席，黛娜赢得全场总冠军BIS3的好成绩，他们在赛场上不断的证明自己也让犬主陈健先生感到非常欣慰</p></ion-item>
        </ion-list>
    </ion-content>
</ion-view>