<ion-view>
    <ion-nav-title>成都焊金金毛俱乐部</ion-nav-title>
    <ion-content>
        <div class="list">
            <a class="item item-icon-left item-text-wrap">
                <h2 style="text-align:center">《成 都 焊 金 金 毛 俱 乐 部》</h2>
            </a>
            <a class="item item-icon-left item-text-wrap">
                <p>焊金金毛俱乐部成立于2011年，成立至今不断引进国内外几大金毛主流血系，所繁殖的后代在国
                    内各大赛事屡获殊荣。本俱乐部专业繁殖血统金毛、高品质赛级金毛。
                    结识许多金毛爱好者，具有广泛的金毛专业知识交流平台。一路走来，我们脚踏实地，一步一个脚印。埋头坚持按照正确的理念来做繁殖，不哗众取宠、不搞虚名噱头。繁殖之路不好走，布满荆棘艰辛也充满希望和喜悦。不管多少年，金色大道的前方，希望我能一如既往地走下去。感谢一路走来支持焊金、帮助过焊金的朋友们。</p>
            </a>
        </div>
    </ion-content>
</ion-view>